<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}">
	<meta name="author" content="SitePoint">

	<meta property="og:title" content="Holy Angels Catholic Church – Hale Barns">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
	<meta property="og:description" content="Holy Angels Catholic Church webstie – find mass timings and other events">
	<meta property="og:image" content="image.png">

	<link rel="canonical" href= "{{ page.url }}" />
	<link rel="icon" href="/favicon.ico">
	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="{{ '/css/base.css' | url }}" />
</head>
<body>
	<a class="skip-link govuk-!-display-none-print" href="#content">
		Skip to main content
	</a>
	{% include 'header.njk' %}

	<main id="content">
		{{ content | safe }}
	</main>

	{% include 'footer.njk' %}

	<script src="js/scripts.js"></script>
</body>
</html>