<footer>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <h2 class="heading-xs">
                        Our location
                    </h2>
                    <p class="margin-bottom-s">
                        Wicker Ln, Hale Barns<br>
                        Altrincham, WA15 0HG
                    </p>

                    <h2 class="heading-xs">
                        Enquiries
                    </h2>
                    <p class="margin-bottom-xs">
                        Phone number:
                        <a href="tel:01619804784" class="body-link">0161 980 4784</a>
                    </p>
                    <p class="margin-bottom-xs">
                        Email for general enquiries:
                        <a href="mailto:secretaryholyangels@hotmail.co.uk" class="body-link">secretaryholyangels@hotmail.co.uk</a>  
                    </p>
                    <p>
                        Items for the newsletter:
                        <a href="mailto:newsletterholyangels@hotmail.co.uk" class="body-link">newsletterholyangels@hotmail.co.uk</a>  
                    </p>
                </div>
                <div class="col-3">
                    <img src="/assets/images/holy-angels-church-front-view.jpg"
                    alt="Front view of Holy Angels Catholic Church">
                </div>
            </div>

            <div class="row">
                <div class="col-12 border-top"></div>
                <div class="col-9">
                    <p>© 2021 Holy Angels Catholic Church</p>
                </div>
            </div>
        </div>
    </section>
</footer>