<header>
	<div class="container">
        <div class="row">
            <div class="col-9 col-6-sm header-logotype">
                <a href="/" class="header-logotype__link">
                    Holy Angels Catholic Church <span class="font-regular">– Hale Barns</span>
                </a>
            </div>
            <div class="col-3 col-6-sm right header-donate">
                <a href="" class="primary-button">
                    Donate
                </a>
            </div>
        </div>
    </div>
    
    <div class="header-navigation">
        <nav class="container">
            <div class="row">

                {% set navPages = collections.all | eleventyNavigation %}

                <ul class="col-12 header-navigation__list">

                    {%- for entry in navPages %}
                    <li
                    {% if entry.url == page.url %} class="header-navigation__list--item header-navigation__list-item--current" {% endif %}
                    class="header-navigation__list--item">
                        <a href="{{ entry.url | url }}" class="header-navigation__link">
                            {{ entry.title }}
                        </a>
                    </li>
                    {%- endfor %}

                    <li class="header-navigation__list--item">
                        <a href="#" class="header-navigation__link">
                            Mass timings
                        </a>
                    </li>

                </ul>

            </div>
        </nav>
    </div>
</header>