// utility

.font-regular {
    font-weight: $font-weight-regular;
}

.font-medium {
    font-weight: $font-weight-medium;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.justify {
    text-align: justify;
}

.hidden-sm {
    display: none;
}

.border-top {
    border-top: 1px solid $border-colour;
}