---
layout: base.njk
title: Holy Angels Catholic Church – Hale Barns, Cheshire
description: Holy Angels Catholic Church – Hale Barns, Cheshire – holyangels.org.uk
eleventyNavigation:
  key: Home
  order: 100
---
<section>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h1>
                     Welcome to the Parish of Holy Angels
                </h1>
                <img src="/assets/images/holy-angels-catholic-church-hale-barns-inside-picture.jpg"
                    alt="The head and torso of a dinosaur skeleton;
                    it has a large head with long sharp teeth"
                    class="feature-image">
                <p class="lead-paragraph">
                    Entrusted to The Immaculate Heart of Mary, Queen of All Angels.
                </p>
                <a href="" class="body-link">
                    View photos and prayer of entrustment
                </a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 border-top">
            </div>
            <div class="col-9">
                <h2>
                     Welcome to Holy Angels Church
                </h2>
                <p>
                    Entrusted to The Immaculate Heart of Mary, Queen of All Angels.
                </p>
            </div>
        </div>
    </div>
</section>

