---
layout: base.njk
title: Our parish – Holy Angels Catholic Church – Hale Barns, Cheshire
eleventyNavigation:
  key: Our parish
  order: 200
---
<section>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h1>
                     Welcome to Holy Angels Catholic Church
                </h1>
                <p>
                    Our parish is in the Altrincham Pastoral Area (which succeeds the former St Ambrose Deanery), and is in the <a href="#" class="body-link">Diocese of Shrewsbury</a>.
                </p>
                <p>
                    Holy Angels is part of the Hale Neighbourhood Group of Churches and you can connect to our neighbours' web sites through the links below.
                </p>
                {# <ul>
                    <li>
                        <a href="" class="">
                            Website number 1
                        <a/>
                    </li>
                </ul> #}
                <p>
                    Holy Angels is an impressive building, built and opened in 1964.  The architect, the late Arthur Farebrother, designed it along the lines of the Benedictine Quarr Abbey, on the Isle of Wight.
                </p>
                <h2>
                    The glorious rose window
                </h2>
                <p>
                    The glorious rose window in the tower has become a well known inspirational landmark and is best viewed whenever it is  illuminated in the winter months sending rays of coloured light through evening mists.
                </p>
            </div>
        </div>
    </div>
</section>

